@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=block);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=block);
@import url(intro.css);
@import url(color-set.css);
@import url(lorem.css);
@import url(wave.css);


body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  background-color: white;

}

body {
  --color-1:#31BFF3; 
  --color-2:#A484E9; 
  --color-3:#F4889A; 
  --color-4: #FF392E;
  --color-5:#FFAF66; 
  --color-6:#FFE45E;
  --color-7:#87e16a;
}

body.color-version-2 {
  --color-1:#31BFF3; 
  --color-2:#A484E9; 
  --color-3:#F4889A; 
  --color-4: #FF392E;
  --color-5:#FFAF66; 
  --color-6:#FFE45E;
  --color-7:#87e16a;
 
}

section {
  overflow: hidden;
  width: 1440px;
}

section.intro {
  min-height: 750px;
  overflow: hidden;
}

section.colorset{
  margin-top: -10px;
  min-height: 600px;
  overflow: hidden;
}

section.texte{
  min-height: 500px;
  overflow: hidden;
}

section.debuttexte{
  padding-top: 200px;
  min-height: 0px;
  overflow: hidden;
}

section.wave {
  max-height: 500px;
  overflow: hidden;
}

section .debuttexte{
  min-height: 600px;
  font-family: inherit;
  background-color: #A484E9;
  color: white;
  border: solid 1px #fff3;
  border-radius: 4px;
  cursor: pointer;
}

/* mobile */

@media screen and (max-width: 400px) {
  section .color-change {
    padding: 16px;
  }
}


