
section.areyoucreative .container {
  min-height: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}


section.areyoucreative .container span {
  --size: 10vh;
  font-size: calc(var(--size) * 0.8);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 
  color .15s ease-in-out .1s, 
  background-color .15s ease-in-out 0s;
}
