
.grid-fx {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.grid-fx > div {
  position: absolute;
  transition: background-color .1s ease-out;
}

.grid-fx > div.colored {
  --color: var(--color-1);
  background-color: var(--color);
}
