
section .section-info {
  position: absolute;
  --margin: 32px;
  left: var(--margin);
  bottom: var(--margin);
  color: #f9b24b;
  font-weight: 100;
}

section .section-info span {
  font-size: 1.2em;
}

section .section-info a {
  color: #f9b24b;
}

@media screen and (max-width: 400px) {
  section .section-info {
    --margin: 16px;
    font-size: 12px;
  }
}
