section.rorschach{
  padding : 0;
  display:flex;
  flex-direction: row;
}

section.rorschach > div {
  flex: 1 0 0;
}

section.rorschach > div.right{
  transform : scalex(-1);
}

section.rorschach > div > * {
 position:absolute;
}

/* CONTENU DESIGN : */

section.rorschach span.big-r{
  font-size: 60vh;
  font-weight: 900;
  color:#333;
}

section.rorschach div.tree {
  width: 30vh;
  height: 30vh;
  background-color: #C1E7E3;
  right: 0;

  /* la propriété mask-image doit être doublée avec le 
  préfixe "-webkit" pour être supporté par chromium */
  mask-image: url(assets/iconmonstr-tree-3.svg);
  -webkit-mask-image: url(assets/iconmonstr-tree-3.svg);
  mask-size: contain;
  -webkit-mask-size: contain;

  transform: translateY(50%);
}