@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Asset & display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Asset&family=DM+Serif+Display&display=swap');
@import url(lorem.css);
@import url(rorschach.css);

body, body * {
  margin: 0;
  box-sizing: border-box;
  position:relative;
}

body {
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  color: rgb(242, 226, 176);
}

h1 {
  font-family: 'Asset', cursive;
  font-size: 10vw;
  text-align: center;
  color: #f23603;
}

section {
  /* vh: "viewport height" : la hauteur de la fenêtre */
  min-height: 100vh; 
  padding: 32px;
  overflow:hidden;
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #490313;
}

section.intro div.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10vh;
  height: 10vh;
  transform: translateX(-50%) translateY(-32px);
  background-color:#490313;
  
  /* utilisation d'un svg comme masque: */
  mask-image: url(assets/iconmonstr-arrow-69.svg);
  mask-size: contain;
  -webkit-mask-image: url(assets/iconmonstr-arrow-69.svg);
  -webkit-mask-size: contain;
  
  /* inception: le svg de la flèche est réutilisé en background */
  /*background-image: url(assets/iconmonstr-arrow-69.svg);*/

  /* une option plus sage: une couleur pleine */
  /* background-color: black; */
}
section.intro div.scroll-down:hover {
  background-color: rgb(242, 226, 176);
}


section.color-set {
  --size: 40vh;
  padding: 64px calc((100% - 3.5 * var(--size)) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #5a3e2d;
}

section.color-set div.color {
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: calc(var(--size) * 0.15);
  padding: 16px;
  border: solid 8px transparent;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

section.color-set div.color:hover {
  border: solid 10px rgb(242, 226, 176);
  transform: scale(1.15);
  z-index: 1;
}

section.color-set div.color.clicked {
  background-color: white !important;
}

/* mobile */

@media screen and (max-width: 400px) {
  section.color-set {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section.color-set div.color:nth-child(2n + 1) {
    transform: rotate(-5deg) translateX(-5vw);
  }
  section.color-set div.color:nth-child(2n + 2) {
    transform: rotate(5deg) translateX(5vw);
  }
}