
section.simple-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3f0aa8;
}

section.simple-parallax .circle {
  --size: 1000px; 
  position: absolute;
  --size: min(100vh, 100vw);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: all .1s linear;
}

section.simple-parallax .circle:nth-child(1) {
  background-color: whitesmoke;
  z-index: 10;
}

section.simple-parallax .circle:nth-child(2) {
  background-color: darkcyan;
  z-index: 100;
}

section.simple-parallax .circle:nth-child(3) {
  background-color: black;
  z-index: 1000;
}

.couleur {
z-index: 10000;
  color: white; 
}

/* ici j'ai changé les couleurs des div circulaires pour pouvoir représenter un oeil. 
Dans la thématique du rêve, l'oeil symbolique la sortie du monde imaginaire vers le monde réel.
Sensation d'ouvrir les yeux avec le scroll*/