section.color-set {
  --size: 30vh;
  padding: 64px calc((100% - 3.5 * var(--size)) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #001751;
  transition: background-color .3s ease-in-out;
}

.color-set h2 {
  color: white;
  padding-bottom: 10vh;
}

section.color-set div.color {

  margin: auto;
  border-radius: 5px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(var(--size) * 0.15);
  padding: 16px;
  border: solid 8px transparent;
  cursor: pointer;
  transition: all 300ms;
  
}

section.color-set div.color:hover {
  cursor: auto;
  border-radius: 5px;
  transform: scale(1.15);
  z-index: 1;
  transform: scale(1.08);
}

section.color-set div.color.clicked {
  background-color: white !important;
}


/* HIDE TEXT COLORS */ 

.contain {
  height: auto;
}


#d1 p{
height: 10vh;
margin-top: 5vh;
color: white; 
font-size: 20px;
}

#d2 p {
height: 10vh;
color: white; 
margin-top: 5vh;
font-size: 20px;
}

#d3 p {
  height: 10vh;
  color: white; 
  margin-top: 5vh;
  font-size: 20px;
}

#togg1 {
  opacity: 0.8;
  font-family: 'Rowdies', monospace;
border: none;
background-color: transparent;
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 5%;
padding-bottom: 5%;
font-size: 20px;
transition: all 300ms;
}

#togg1:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  background-color: white;
}
#togg2 {
  opacity: 0.8;
  font-family: 'Rowdies', monospace;
border: none;
background-color: transparent;
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 5%;
padding-bottom: 5%;
font-size: 20px;
transition: all 300ms;
}

#togg2:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  background-color: white;
}

#togg3 {
  opacity: 0.8;
  font-family: 'Rowdies', monospace;
border: none;
background-color: transparent;
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 5%;
padding-bottom: 5%;
font-size: 20px;
transition: all 300ms;
}

#togg3:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  background-color: white;
}


/* mobile */

@media screen and (max-width: 400px) {
  section.color-set {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section.color-set div.color:nth-child(2n + 1) {
    transform: rotate(-5deg) translateX(-5vw);
  }
  section.color-set div.color:nth-child(2n + 2) {
    transform: rotate(5deg) translateX(5vw);
  }
}
