body {
  --color-1:#248EA6; 
  --color-2:#F23030; 
  --color-3:#F2D338; 
  --color-4:#25C7D9; 
  --color-5:#fff;
}

body.color-version-2 {
  --color-1: #ffffff;
  --color-2: #9a00ed;
  --color-3: #ff5d9d;
  --color-4: #87e16a;
  --color-5: #86ffe7;
}

section.color-set {
  --size: 30vh;
  padding: 64px calc((100% - 3.5 * var(--size)) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #F2762E;
  transition: background-color .3s ease-in-out;
}

section.color-set div.color {
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: calc(var(--size) * 0.15);
  padding: 16px;
  border: solid 8px transparent;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

section.color-set div.color:hover {
  border: solid 8px black;
  transform: scale(1.15);
  z-index: 1;
}

section.color-set div.color.clicked {
  background-color: white !important;
}



/* mobile */

@media screen and (max-width: 400px) {
  section.color-set {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section.color-set div.color:nth-child(2n + 1) {
    transform: rotate(-5deg) translateX(-5vw);
  }
  section.color-set div.color:nth-child(2n + 2) {
    transform: rotate(5deg) translateX(5vw);
  }
}
