@import url(../../../../common/style.css);
@import url(random-chars.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url(../../../../works/SouhaR/color-scroll/css/water-wave.css);
@import url(../../../../works/SouhaR/color-scroll/css/icons.css);
@import url(../../../../works/SouhaR/color-scroll/css/cards.css);
@import url(../../../../works/SouhaR/color-scroll/css/parallax.css);

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Josefin Sans';
  box-sizing: border-box;
  

    --color-1:#ff00aa; 
    --color-2:#c90ce2; 
    --color-3:#d40055; 
    --color-4:#3600e6; 
    --color-5:#7bff91;
  }

  body.color-version-2 {
    --color-1: #ffffff;
    --color-2: #9a00ed;
    --color-3: #ff5d9d;
    --color-4: #87e16a;
    --color-5: #9eda13;
  }

  ::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: #ffffff;
}
::-webkit-scrollbar-thumb
{
  background: linear-gradient(#c90ce2, #86ffe7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
  background: #87e16a;
}
  




p {
  font-size: 40px;
  padding: 50px;
  color: #864fec;
  text-align: center;
}



h3 {
  position: relative;
  color: rgb(55, 100, 139);
  font-size: 2150px;

}



