section.you-cant-read-this {
    min-height: 150vh;
    padding: 10vh 8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #004299;
  }
  
  section.you-cant-read-this .container1 div {

    display: inline-block;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
  }
  
  section.you-cant-read-this .container1 span {
    --size: 10vh;
    font-size: calc(var(--size) * 0.8);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
  
    transition: 
    color .15s ease-in-out .1s, 
    background-color .15s ease-in-out 0s;
  }
  