
section.you-cant-read-this .container {
  min-height: 100vh;
  padding: 10vh 8vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: dimgrey;
}

section.you-cant-read-this .container div {
  display: flex;
}

section.you-cant-read-this .container span {
  --size: 10vh;
  font-size: calc(var(--size) * 0.8);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;

  transition: 
  color .15s ease-in-out .1s, 
  background-color .15s ease-in-out 0s;
}



/* mobile */

@media screen and (max-width: 400px) {
  section.you-cant-read-this .container div {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.you-cant-read-this .container span {
    --size: 16vw;
    margin: 2px;
  }
  section.you-cant-read-this .container span.space {
    display: none;
  }
}
