
.end
{
    background : linear-gradient(#AF3812, var(--color-1));
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    position : absolute;
    width : 100%;
    height : 100%;
}
 p{
     font-size: 100px;
     color : white;
 }