.parallax
{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow : hidden;
    display : flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(var(--color-1), var(--color-2)) ;
}


.parallax img 
{
    position : absolute;
    bottom : 0;
    width: 100%;
    height: auto;
   
}

img#clouds
{
    width: 30%;
    top : 0;
}


