HTML  CSS Result  
EDIT ON

 .text {
  animation: inherit;
  color: aliceblue;
}
.background {
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, rgb(142, 106, 241) 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: hsl(276, 93%, 60%); }
  10%      { color: rgb(238, 103, 250); }
  20%      { color: rgb(250, 162, 250); }
  30%      { color: rgb(127, 67, 133); }
  40%      { color: hsl(293, 84%, 88%); }
  50%      { color: hsl(288, 32%, 68%); }
  60%      { color: hsl(276, 44%, 43%); }
  70%      { color: hsl(293, 42%, 38%); }
  80%      { color: hsl(290, 53%, 63%); }
  90%      { color: hsl(288, 33%, 37%); }
}


/* misc */
* { margin: 0; padding: 0; }
.background {
  min-height: 100vh;
  display: flex;
}
.text {
  margin: auto;
  background: rgba(117, 65, 115, 0.75);
  padding: 1em;
}





Resources 1× 0.5× 0.25× Rerun