HTML  CSS Result  
EDIT ON

 .text {
  animation: inherit;
  color: aliceblue;
  text-align: center;
}
.background {
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, rgb(142, 106, 241) 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color:#7543af; }
  10%      { color: #7543af; }
  20%      { color: #593780; }
  30%      { color: #55278a; }
  40%      { color: #7734c4; }
  50%      { color: #9154d6; }
  60%      { color: #4c2e6e; }
  70%      { color: #7952a5; }
  80%      { color: #7543af; }
  90%      { color: #7543af; }
}


/* misc */
* { margin: 0; padding: 0; }
.background {
  min-height: 100vh;
  display: flex;
}
.text {
  margin: auto;
  background: rgba(255, 255, 255, 0.603);
  padding: 1em;
  text-align : center;
}





Resources 1× 0.5× 0.25× Rerun