@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shippori+Antique&display=swap');
body{
  /* background: url('palmier.jpeg'); */
  background-color: #00B4DB;
  color:indigo;
  font-family: 'open sans', sans-serif;
  width: 100%;
  margin: 0px;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  margin: 0px;
}
.bloc1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.bloc1-text{
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  padding: 100px 80px;
  text-align: center;
}