
section.color-interpolation {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: 100;
}

section.color-interpolation h1 {
  font-size: 10vh;
  line-height: 1em;
}

section.color-interpolation .color-swatches {
  display: flex;
  flex-direction: row;
}

section.color-interpolation code {
  white-space: pre-line;
  text-align: left;
  border: solid 2px white;
  padding: 8px 16px;
  font-family: inherit;
}

section.color-interpolation a {
  color: var(--color-1);
}

section.color-interpolation a:visited {
  color: var(--color-1);
  opacity: .5;
}

section.color-interpolation span {
  padding: 12px 16px;
  border: solid 1px currentColor;
  border-radius: 2px;
  opacity: .25;
}

section.color-interpolation span.big {
  font-size: 2em;
}

section.color-interpolation .gradient {
  width: 60%;
  flex: 0 0 100px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #111111, var(--color-3), var(--color-4));
  /* border: solid 2px white; */
}

section.color-interpolation .gradient .cursor {
  width: 2px;
  height: 100%;
  background-color: white;
}




/* marges, espacements */

section.color-interpolation {
  padding: 32px 20%;
}

section.color-interpolation .spacing {
  flex: 1;
}

section.color-interpolation .gradient {
  margin: 32px;
}

section.color-interpolation p {
  margin-bottom: 32px;
}

