
section.complex-accordion {
  /* font-family: 'Playfair Display', serif; */
  font-weight: 900;
  overflow: visible;
}

section.complex-accordion .container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  --y: 0;
}

section.complex-accordion .stripe {
  height: calc(100% / 6);
  font-size: 50vh;
  line-height: 0.65em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
}

section.complex-accordion .stripe span {
  transform: translateY(var(--y));
}

section.complex-accordion .stripe:nth-child(3n + 1) {
  padding-left: calc(25% + 50% * 0 / 3);
  padding-right: calc(25% + 50% * 2 / 3);
  background-color: var(--color-2);
  color: #111;
}

section.complex-accordion .stripe:nth-child(3n + 2) {
  padding-left: calc(25% + 50% * 1 / 3);
  padding-right: calc(25% + 50% * 1 / 3);
  background-color: #111;
  color: var(--color-1);
}

section.complex-accordion .stripe:nth-child(3n + 3) {
  padding-left: calc(25% + 50% * 2 / 3);
  padding-right: calc(25% + 50% * 0 / 3);
  background-color: var(--color-1);
  color: var(--color-2);
}

