
section.intro .grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.intro .grid > div {
  position: absolute;
  transition: background-color .1s ease-out;
}

section.intro .grid > div.colored {
  --color: var(--color-1);
  background-color: var(--color);
}

section.intro p {
  transition: all .1s ease-out;
}
section.intro p.hidden {
  opacity: 0;
}