@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=block);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=block);
@import url(intro.css);
@import url(color-set.css);
@import url(lorem.css);
@import url(simple-accordion.css);
@import url(simple-parallax.css);
@import url(color-interpolation.css);
@import url(complex-parallax.css);
@import url(complex-accordion.css);
@import url(random-chars.css);
@import url(you-cant-read-this.css);
@import url(rorschach.css);
@import url(section-info.css);


body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #000;
}

body {
  --color-1:#ffcc00; 
  --color-2:#aaaaaa; 
  --color-3:#94003a; 
  --color-4:#4223a8; 
  --color-5:#fff;
}

body.color-version-2 {
  --color-1: #ffffff;
  --color-2: #9a00ed;
  --color-3: #ff5d9d;
  --color-4: #87e16a;
  --color-5: #86ffe7;
}

section {
  /* vh: "viewport height" : la hauteur de la fenêtre */
  min-height: 100vh;
  overflow: hidden;
}





section .color-change {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
}

section .color-change button {
  padding: 16px;
  font-family: inherit;
  background-color: var(--color-4);
  color: white;
  border: solid 1px #fff3;
  border-radius: 4px;
  cursor: pointer;
}

section .color-change button:hover {
  background-color: white;
  color: var(--color-4);
}

/* mobile */

@media screen and (max-width: 400px) {
  section .color-change {
    padding: 16px;
  }
}
