@import url(../../../../common/style.css);
@import url(header.css);

body {
  background-color: #eee;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --stripe-color: #ccc;
  background-image: repeating-linear-gradient(45deg, var(--stripe-color) 0, var(--stripe-color) 2vh, transparent 2vh, transparent 2.2vh);
}

section span {
  font-size: 60vh;
  font-weight: 900;
  line-height: 1em;
}

section:nth-child(2n) {
  background-image: unset;
}

section.fx {
  color: white;
  --stripe-color: #67c58d;
}

section.fx span {
  z-index: 10;
}

section.fx p {
  padding: 0 20%;
  font-size: 2em;
  text-align: center;
  z-index: 10;
}

section.fx .dot {
  position: fixed;
  width: 10vh;
  height: 10vh;
  left: 50%;
  top: 50%;
  background-color: #840832;
  border-radius: 50%;
}

/* horizontal scroll */
body.horizontal-scroll {
  display: flex;
  flex-direction: row;
}
body.horizontal-scroll section {
  flex: 0 0 100vw;
}