@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=swap');

body {
  font-family: 'Fira Code', monospace;
}

h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 120px;
}