section.rorschach{
  padding : 0;
  display:flex;
  flex-direction: row;
}

section.rorschach > div {
  flex: 1 0 0;
}

section.rorschach > div.right{
  transform : scalex(-1);
  background: linear-gradient(to right, #C1E7E3, #FFDCF4);
}

/* CONTENU DESIGN : */

section.rorschach span.big-r{
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 60vh;
  font-weight: 900;
  color:#333;
}

/*section.rorschach div.tree {
  width: 30vh;
  height: 30vh;
  background-color: #C1E7E3;
  right: 0;

  /* la propriété mask-image doit être doublée avec le 
  préfixe "-webkit" pour être supporté par chromium */
 /* mask-image: url(assets/iconmonstr-tree-3.svg);
  -webkit-mask-image: url(assets/iconmonstr-tree-3.svg);
  mask-size: contain;
  -webkit-mask-size: contain;

  transform: translateY(50%);
}*/
  
  section.rorschach > div > * {
   position:absolute;
  }

  section.rorschach > div.left{
    background: linear-gradient(to right, #C1E7E3, #FFDCF4);
  }