@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(css/color-set.css);
@import url(css/lorem.css);
@import url(css/simple-accordion.css);
@import url(css/animation.css);
@import url(css/intro.css);

body{
  --color-1: #FAE4D8;
  --color-2: #DCFFFB;
  --color-3: #FFDCF4;
  --color-4: #DABFDE;
  --color-5: #F8F1AE;
  --back:#222;
  --white:white;
}

body.color-version-2 {
  --color-1: #91aaff;
  --color-2: #ff9e9e;
  --color-3: #ff80c5;
  --color-4: #7afbff;
  --color-5: #8aff9c;
  --back:#222;
  --white:white;
}

body, body * {
  margin: 0;
  box-sizing: border-box;
  position:relative;
}

body {
  font-family: 'Fira Code', monospace;
}

h1 {
  font-family: 'Montsterrat', sans-serif;
  color: var(--back);
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

h2 {
  font-family: 'Montsterrat', sans-serif;
  font-size: 120px;
  animation: inherit;
  margin: auto;
  background: var(--back);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:var(--color-1);
}

section {
  /* vh: "viewport height" : la hauteur de la fenêtre */
  min-height: 100vh; 
  padding: 32px;
  overflow:hidden;
}

#color-1{
  background-color:var(--color-1);
}

#color-2{
  background-color:var(--color-2);
}

#color-3{
  background-color:var(--color-3);
}

#color-4{
  background-color:var(--color-4);
}

#color-5{
  background-color:var(--color-5);
}

section .color-change {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
}

section .color-change button {
  padding: 16px;
  font-family: 'Monsterrat' sans-serif;
  font-size: 20px;
  background-color: var(--back);
  color: var(--color-1);
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
}

section .color-change button:hover {
  background-color: var(--color-1);
  color: var(--back);
}

/* mobile */

@media screen and (max-width: 400px) {
  section .color-change {
    padding: 16px;
  }
}
