@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Mochiy+Pop+P+One&display=swap');
@import url(lorem.css);
@import url(rorschach.css);

body, body * {
  margin: 0;
  box-sizing: border-box;
  position:relative;
}

body {
  font-family: 'Fira Code', monospace;
}

h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 120px;
  animation: inherit;
  margin: auto;
  background: #333;
  padding: 1em;
}

section {
  /* vh: "viewport height" : la hauteur de la fenêtre */
  min-height: 100vh; 
  padding: 32px;
  overflow:hidden;
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #C1E7E3;
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
  .intro {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: #C1E7E3; }
  10%      { color: #DCFFFB; }
  20%      { color: #FFDCF4; }
  30%      { color: #DABFDE; }
  40%      { color: #C1BBDD; }
  50%      { color: #FFDAC1; }
  60%      { color: #FFB7B2; }
  70%      { color: #FF9AA2; }
  80%      { color: #E2F0CB; }
  90%      { color: #B5EAD7; }
}

section.intro div.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translateX(-50%) translateY(-32px);
  background-color:#333;
  
  /* utilisation d'un svg comme masque: */
  mask-image: url(assets/iconmonstr-arrow-69.svg);
  mask-size: contain;
  -webkit-mask-image: url(assets/iconmonstr-arrow-69.svg);
  -webkit-mask-size: contain;
  
  /* inception: le svg de la flèche est réutilisé en background */
  /*background-image: url(assets/iconmonstr-arrow-69.svg);*/

  /* une option plus sage: une couleur pleine */
  /* background-color: black; */
}
section.intro div.scroll-down:hover {
  background-color: #C1BBDD;
}



section.color-set {
  padding: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 100vh;
}

section.color-set div.color {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 48px;
  padding: 32px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

section.color-set div.color:hover {
  transform: scale(1.05);
}

section.color-set div.color.clicked {
  background-color: white !important;
}