
section.bloc2 {
  --size: 30vh;
  padding: 64px calc((100% - 3.5 * var(--size)) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #111111;
  transition: background-color .3s ease-in-out;
}

section.bloc2 div.color {
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: calc(var(--size) * 0.15);
  padding: 16px;
  border: solid 8px transparent;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

section.bloc2 div.color:hover {
  border: solid 8px black;
  transform: scale(1.15);
  z-index: 1;
}

section.bloc2 div.color.clicked {
  background-color: white !important;
}



/* mobile */

@media screen and (max-width: 400px) {
  section.bloc2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section.bloc2 div.color:nth-child(2n + 1) {
    transform: rotate(-5deg) translateX(-5vw);
  }
  section.bloc2 div.color:nth-child(2n + 2) {
    transform: rotate(5deg) translateX(5vw);
  }
}
