@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


h1 {
	font: 700 2.8em/1.2 "montserrat", sans-serif;
  margin: 10px 0;
}

#box {
	background: url('../asset/fond1.jpeg') no-repeat fixed 50% 0;
	background-size: cover;
	color: rgba(41, 41, 41, 0.8);
  border-bottom:0px black ;
	height: 100%;
	width: 100%;
}

#boxtext {
	width: 24em;
	position: fixed;
	top: 30%;
	left: 50%;
	border: .5em solid rgba(63, 63, 63, 0.5);
	margin-left: -12em;
	padding: 10px 0;
}
#boxtext p {
  margin: 10px 0;
}
.arrow{
	margin-top: 80vh;
  width: 50px;
	transform: rotate(90deg);
  animation: arrow 1.2s ease infinite;
}
@keyframes arrow {
  0%{
    top: 40px;
    }25%{
      top: 45px;
    }50%{
      top: 30px;
    }75%{
      top: 55px;
    }100%{
      top: 40px;
    }
}