section.color-set {
    --size: 30vh;
    padding: 64px calc((100% - 3.5 * var(--size)) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #c9d0fa;
    transition: background-color .3s ease-in-out;
  }
  
  section.color-set div.color {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 10px;
    padding: 16px;
    border: solid 4px transparent;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    mask-image: url(../assets/chat-1.svg);
    -webkit-mask-image: url(../assets/chat-1.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
  }
  
  section.color-set div.color:hover {
    border: solid 8px rgb(255, 255, 255);
    transform: scale(1.15);
    z-index: 1;
  }
  
  section.color-set div.color.clicked {
    background-color: white !important;
  }
  
  
  
  /* mobile */
  
  @media screen and (max-width: 400px) {
    section.color-set {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    section.color-set div.color:nth-child(2n + 1) {
      transform: rotate(-5deg) translateX(-5vw);
    }
    section.color-set div.color:nth-child(2n + 2) {
      transform: rotate(5deg) translateX(5vw);
    }
  }